<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>itlwm</string>
	<key>CFBundleIdentifier</key>
	<string>com.zxystd.itlwm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>itlwm</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E801a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19G68</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1170</string>
	<key>DTXcodeBuild</key>
	<string>11E801a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>itlwm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>7300242574</string>
					<key>ssid</key>
					<string>vivo</string>
				</dict>
				<key>WiFi_10</key>
				<dict>
					<key>password</key>
					<string>19ten2003</string>
					<key>ssid</key>
					<string>Redmi Note 9S</string>
				</dict>
				<key>WiFi_11</key>
				<dict>
					<key>password</key>
					<string>12344321</string>
					<key>ssid</key>
					<string>Redmi Note 10 Pro</string>
				</dict>
				<key>WiFi_12</key>
				<dict>
					<key>password</key>
					<string>r12345678</string>
					<key>ssid</key>
					<string>Pradeep-4g</string>
				</dict>
				<key>WiFi_13</key>
				<dict>
					<key>password</key>
					<string>r12345678</string>
					<key>ssid</key>
					<string>Pardeep_5G</string>
				</dict>
				<key>WiFi_14</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>Pardeep -4g</string>
				</dict>
				<key>WiFi_15</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>POCO X4 Pro 5G</string>
				</dict>
				<key>WiFi_16</key>
				<dict>
					<key>password</key>
					<string>marketing@jecrc2022</string>
					<key>ssid</key>
					<string>Marketing</string>
				</dict>
				<key>WiFi_17</key>
				<dict>
					<key>password</key>
					<string>manan2005</string>
					<key>ssid</key>
					<string>Manan</string>
				</dict>
				<key>WiFi_18</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>MAYANk</string>
				</dict>
				<key>WiFi_19</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>MAYANK</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>pooja@123</string>
					<key>ssid</key>
					<string>saras_2.4g</string>
				</dict>
				<key>WiFi_20</key>
				<dict>
					<key>password</key>
					<string>98765432</string>
					<key>ssid</key>
					<string>Kartik’s iphone</string>
				</dict>
				<key>WiFi_21</key>
				<dict>
					<key>password</key>
					<string>Arnav10b</string>
					<key>ssid</key>
					<string>Jio_3</string>
				</dict>
				<key>WiFi_22</key>
				<dict>
					<key>password</key>
					<string>wjope@1234</string>
					<key>ssid</key>
					<string>JioFiber_5G</string>
				</dict>
				<key>WiFi_23</key>
				<dict>
					<key>password</key>
					<string>9871473656</string>
					<key>ssid</key>
					<string>Gandhi</string>
				</dict>
				<key>WiFi_24</key>
				<dict>
					<key>password</key>
					<string>Arnav10b</string>
					<key>ssid</key>
					<string>Galaxy S21</string>
				</dict>
				<key>WiFi_25</key>
				<dict>
					<key>password</key>
					<string>qhao2574</string>
					<key>ssid</key>
					<string>Galaxy M11a886</string>
				</dict>
				<key>WiFi_26</key>
				<dict>
					<key>password</key>
					<string>wyfu6459</string>
					<key>ssid</key>
					<string>Galaxy F62221f</string>
				</dict>
				<key>WiFi_27</key>
				<dict>
					<key>password</key>
					<string>student@engg23</string>
					<key>ssid</key>
					<string>Engg-LTs-New-floors</string>
				</dict>
				<key>WiFi_28</key>
				<dict>
					<key>password</key>
					<string>r12345678</string>
					<key>ssid</key>
					<string>Pradeep-5G</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>realme C25s</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>123456789</string>
					<key>ssid</key>
					<string>realme 9 5G</string>
				</dict>
				<key>WiFi_5</key>
				<dict>
					<key>password</key>
					<string>pradeep1234</string>
					<key>ssid</key>
					<string>motorola edge 20_6225</string>
				</dict>
				<key>WiFi_6</key>
				<dict>
					<key>password</key>
					<string>123456789</string>
					<key>ssid</key>
					<string>iPhone</string>
				</dict>
				<key>WiFi_7</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>forzun's S21 FE</string>
				</dict>
				<key>WiFi_8</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>Xiaomi 11i</string>
				</dict>
				<key>WiFi_9</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>TECNO CAMON 20 Pro 5G</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 钟先耀. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
